# Custom Property
route:
  exception: false
  
  
## Actuator  
management:
  endpoints: 
    enabled-by-default: true
    web:
      exposure:
        include: "*"

#Configure GraphQL 
graphql:
  tools:
    schemaLocationPattern: "**/*.graphql"
  servlet:
    mapping: /graphql
    enabled: true
    subscriptions:
      websocket:
        path: /subscriptions
    exception-handlers-enabled: true
    #maxQueryDepth: 100
    #maxQueryComplexity: 100
    corsEnabled: true
    cors:
      allowed-origins: http://some.domain.com
    tracingEnabled: true
    actuator-metrics: true
  
## JPA Database Configuration 
spring:
  jpa:
    generate-ddl: true
    show-sql: false
    hibernate:
      ddl-auto: create-drop  
      spring:
  profiles:
    active: 
  security:
    oauth2:
      resourceserver:
        jwt: 
          public-key-location: public-key.txt
        
      
## H2 & Data Source Configuration  
  h2:
    console:
      enabled: true
      path: /h2-console    
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE 
    
   
## Gerneral Spring Configuration 
server:
  port: 4000
  
